.btn-marron {
	background-color: #C5A880;
	padding: 10px 25px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
}

a:hover{
	background-color: #e6e6e6;
	text-decoration: none;
}

